.emoji-counter-container {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emoji-counter-title {
  font-size: 24px;
  text-align: center;
}

.emoji-list {
  list-style-type: none;
  padding: 0;
}

.emoji-item {
  margin-bottom: 10px;
}

.emoji-item span {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.emoji-item span:hover {
  color: blue;
}

.show-results-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-results-btn:hover {
  background-color: #0056b3;
}

.winner-text {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
